
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  word-spacing: 100px;
}

.center {
  display: flex; /* Встановлюємо flex-контейнер */
  flex-direction: column; /* Задаємо колонкову орієнтацію */
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
  height: 100vh; /* Зробити висоту контейнера на 100% висоти сторінки */
  color: #f6f4e6; /* Задаємо колір тексту */
}

.main-text {
  font-size: 5em; /* Задаємо розмір тексту */
}

.sub-text {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
  word-spacing: normal;
}


body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 2%;
  left: 0%;
  text-align: left;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  padding-left: 35px;
  padding-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
}

.navMenu a:nth-child(2) {
  margin-left: -30px;
}

.navMenu a:nth-child(3) {
  margin-left: -65px;
}

.navMenu a:hover {
  color: #fddb3a;
}

.large-word-spacing {
  word-spacing: 0.5em;
  white-space: nowrap;
}

.small-word-spacing {
  word-spacing: 0.2em;
  white-space: nowrap;
}

.button-wrapper {
  text-align: center;
  margin: -375px;
}

.button {
  display: inline-block;
  background-color: #fddb3a;
  color: #272727;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  word-spacing: normal;

}

.button:hover {
  background-color: #f5c500;
}

